@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 25px;
    background: #010107;
}
.box{
    width: 50px;
    height: 70px;
    display: flex;
    align-items: center;
    margin: 1.0rem;
    position: relative;
    right: 400px;
    overflow: hidden;
    cursor: pointer;
    transition: all .4s ease;
    font-size: larger;
}
.box:hover{
    width: 200px;
    background: #c32aa3;
    border-radius: 35px;
    color: #fff;
    box-shadow: 0 0 50px #b315917c;
}

.box:nth-child(1):hover{
    background: #0c2e5a;
    box-shadow: 0 0 50px #08023a7e;

    
}
.box:nth-child(2):hover{
    background: #25d366;
    box-shadow: 0 0 50px #25d3657e;
}
.box:nth-child(3):hover{
    background: #1877f2;
    box-shadow: 0 0 50px #1876f285;
}
.box:nth-child(4):hover{
    background: #1da1f2;
    box-shadow: 0 0 50px #1da0f280;
}
.navbar p{
    transform: translate(60px);
}
.box .icon{
    position: absolute;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    margin-right: 10px;
    transition: all .4s ease;
    font-size:larger;

}

.linkedin{
    background: #1877f2;
}
.instagram{
    background-color: #c32aa3;
}
.whatsapp{
    background-color: #25d366;
}
.facebook{
    background-color: #1877f2;
}
.twitter{
    background-color: #1da1f2;
}
.box:hover .icon{
    background: #fff;
    color: #3b3b3b;
    box-shadow: 0 0 20px rgba(0,0,0,0.26);
}

a:hover {
	text-decoration: underline;
	color: rgb(255, 255, 255)
	}

   h1 {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 600px;
   }

